.md ion-toolbar {
    padding: 1.5rem 1rem 1rem !important;
}

ion-icon {
    font-size: 2rem;
    position: absolute;
}

ion-back-button {
    color: var(--primary-black);
}

@media (prefers-color-scheme: dark) {
    ion-back-button {
        color: var(--primary-white);
    }
}