@mixin seconday_base_button {
    padding: 0rem;
    --background: transparent;
    --background-focused: transparent;
    --background-activated: transparent;
    --background-hover: transparent;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
    --background-activated-opacity: 1;
    background: transparent;
    border: 0.0625rem solid var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    font-family: var(--font-montserrat-regular);
    font-style: normal;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    margin: 0;
    width: 100%;
    text-align: center;
    --ripple-color: transparent;
    --box-shadow: 0;

    &::part(native) {
        padding: 0;
        border: 0;
    }
}

.btn_seconday_XL {
  @include seconday_base_button();
  height: 3.5rem;
  font-size: 1rem !important;
}