@media (prefers-color-scheme: dark) {
    ion-searchbar {
        --border-radius: 0.25rem;
        &::ng-deep .searchbar-input-container {
            border-radius: 0.25rem;
            border: 0.0625rem solid var(--dark-gray);
        }
    }
}