<app-header [showBackButton]="false"></app-header>

<ion-content [fullscreen]="true">
    
    <ion-searchbar debounce="1000"
        [placeholder]="'HOME.SEARCHBAR' | translate"
        (ionInput)="handleInput($event)"
    ></ion-searchbar>

    @if(catState(); as catList) {

        @if(catList.loadingInitial) {
            <app-card-cat-skeleton></app-card-cat-skeleton>
        } @else if(catList.error) {
            <app-error (retry)="getPaginatedCats()"></app-error>
        } @else if(!catList.data.length) {
            <app-no-data></app-no-data>
        } @else {

            @for(cat of catList.data; track cat.id) {
                <app-card-cat [cat]="cat"></app-card-cat>   
            }

            @if(catList.hasInfiniteScroll) {
                <ion-infinite-scroll (ionInfinite)="getPaginatedCats(catList.page, $event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            }
        }

    } 
</ion-content>
